<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dreamroute.mybatis.pro.sample.springboot.mapper.UserMapper">
    <select id="selectUserById" resultType="com.github.dreamroute.mybatis.pro.sample.springboot.domain.User">
        select * from smart_user where id = #{id}
    </select>

    <select id="selectAllPage" resultType="com.github.dreamroute.mybatis.pro.sample.springboot.domain.User">
        select * from smart_user where name = #{name}
    </select>

    <select id="dynamicSqlSourceTest" resultType="com.github.dreamroute.mybatis.pro.sample.springboot.domain.User">
        select * from smart_user where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="rawSqlSourceTest" resultType="com.github.dreamroute.mybatis.pro.sample.springboot.domain.User">
        select * from smart_user where id = #{id}
    </select>

    <select id="testTrim" resultType="com.github.dreamroute.mybatis.pro.sample.springboot.domain.User">
        select *
        from smart_user
        <trim prefixOverrides="and" prefix="where">
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
        </trim>
    </select>

    <select id="testWhere" resultType="com.github.dreamroute.mybatis.pro.sample.springboot.domain.User">
        select * from smart_user
        <where>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test ="password != null and password != ''">and password = #{password}</if>
        </where>
    </select>

</mapper>